{:id :academy/body-intensify-burst
 :host :world-ui
 :primitive :particle
 :stage :world-after-translucent
 :owner :ability/body-intensify
 :duration-ms 900
 :timeline [{:at 0.0 :property :alpha :value 0.0}
            {:at 0.12 :property :alpha :value 1.0}
            {:at 1.0 :property :alpha :value 0.0}]
 :resources ["academy:textures/effects/em_intensify_mask.png"]}
