{:id :body-intensify
 :host :first-person
 :primitive :billboard
 :stage :first-person
 :owner :ability
 :duration-ms 600
 :resources []
 :timeline [{:property :alpha :at 0.0 :value 0.0}
            {:property :alpha :at 0.2 :value 1.0}
            {:property :alpha :at 1.0 :value 0.0}]}
