{:schema :ac/vfx-v3, :id :arc-strike-transient, :lifecycle {:mode :transient}, :inputs {:hand-origin? {:type :bool}, :sound-position {:type :vec3}, :sound-pitch {:type :float}, :sound-volume {:type :float}, :start {:type :vec3}, :sound-id {:type :string}, :arc-life-ticks {:type :int}, :aoe-points {:type :any}, :aoe-origin {:type :vec3}, :end {:type :vec3}, :bounds-radius {:type :float}, :pattern {:type :resource-id}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}