{:schema :ac/vfx-v3, :id :audio-one-shot, :lifecycle {:mode :transient}, :inputs {:position {:type :vec3}, :sound-id {:type :string}, :volume {:type :float}, :pitch {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :component :audio-one-shot, :inputs {:sound-id {:nid :n/n--entry--default-0--22592bf7, :ref [:context :sound-id]}, :volume {:nid :n/n--entry--default-0--6deafb20, :ref [:context :volume]}, :pitch {:nid :n/n--entry--default-0--b328153c, :ref [:context :pitch]}, :position {:nid :n/n--entry--default-0--53309a28, :ref [:context :position]}}} {:nid :n/n--entry--default-1, :flow :finish, :result {:outcome :performed}}]}, :emitters []}