{:schema :ac/vfx-v3, :id :billboard-session, :lifecycle {:mode :session}, :inputs {:anchor {:type :any}, :duration-ticks {:type :int}, :texture-pattern {:type :string}, :frame-count {:type :int}, :frame-duration-ms {:type :int}, :half-size {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}