{:schema :ac/vfx-v3, :id :block-scan-transient, :lifecycle {:mode :transient}, :inputs {:life-ticks {:type :int}, :rescan-interval {:type :int}, :max-results {:type :int}, :max-range {:type :float}, :filter {:type :any}, :origin {:type :vec3}, :tier-colors {:type :any}, :base-color {:type :any}, :texture {:type :string}, :advanced? {:type :bool}, :range {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}