{:schema :ac/vfx-v3, :id :blood-retrograde-impact, :lifecycle {:mode :transient}, :inputs {:spray-duplicates {:type :int}, :spray-life-ticks {:type :int}, :look-dir {:type :vec3}, :splash-frame-count {:type :int}, :splash-frame-duration-ms {:type :int}, :splash-texture-pattern {:type :string}, :splash-life-ticks {:type :int}, :target-height {:type :float}, :seed {:type :int}, :spray-textures {:type :any}, :origin {:type :vec3}, :surface-hits {:type :any}, :splash-count {:type :int}, :splash-size {:type :float}, :target-width {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}