{:schema :ac/vfx-v3, :id :camera-fov-session, :lifecycle {:mode :session}, :inputs {:offset {:type :float}}, :state {:offset {:type :float, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :component :camera-fov, :inputs {:value {:nid :n/n--entry--default-0--6dd3d44d, :ref [:context :offset]}, :duration-ticks 1}} {:nid :n/n--entry--default-1, :flow :finish, :result {:outcome :performed}}]}, :emitters []}