{:schema :ac/vfx-v3, :id :first-person-motion-session, :lifecycle {:mode :session}, :inputs {:stage {:type :resource-id}, :phase-ticks {:type :int}, :duration-ticks {:type :int}, :curves {:type :any}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}