{:schema :ac/vfx-v3, :id :ray-beam-transient, :lifecycle {:mode :transient}, :inputs {:start {:type :vec3}, :end {:type :vec3}, :life-ticks {:type :int}, :grow-ticks {:type :int}, :style {:type :any}, :bounds-radius {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :component :ray-beam, :inputs {:start {:nid :n/n--entry--default-0--bec49f1e, :ref [:context :start]}, :end {:nid :n/n--entry--default-0-inputs--end, :ref [:context :end]}, :grow-ticks {:nid :n/n--entry--default-0--d1104959, :ref [:context :grow-ticks]}, :style {:nid :n/n--entry--default-0--7534d2ad, :ref [:context :style]}}} {:nid :n/n--entry--default-1, :flow :finish, :result {:outcome :performed}}]}, :emitters []}