{:schema :ac/vfx-v3, :id :ray-fan-transient, :lifecycle {:mode :transient}, :inputs {:life-ticks {:type :int}, :yaw-range-degrees {:type :any}, :pitch-range-degrees {:type :any}, :seed {:type :int}, :style {:type :any}, :count {:type :int}, :length {:type :float}, :grow-ticks {:type :int}, :origin {:type :vec3}, :bounds-radius {:type :float}, :direction {:type :vec3}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :flow :finish, :result {:outcome :performed}}]}, :emitters []}