{:schema :ac/vfx-v3, :id :teleport-marker, :lifecycle {:mode :session}, :inputs {:owner {:type :entity-ref}, :position {:type :vec3}, :color {:type :any}, :particle-chance {:type :float}}, :state {:age {:type :float, :default nil}, :seed {:type :int, :default nil}}, :system {:render [{:nid :n/n--entry--default-0, :component :emitter, :inputs {:anchor {:nid :n/n--entry--default-0--f12cc98c, :ref [:context :position]}, :rate-per-tick 1.0, :chance {:nid :n/n--entry--default-0--3fffc577, :ref [:context :particle-chance]}, :limit 256, :particle {:life-ticks 12, :color {:nid :n/n--entry--default-0--1ed94c68, :ref [:context :color]}, :spread {:x 1.0, :y 1.4, :z 1.0}, :speed 0.08, :fade-in-ticks 5, :size {:min 0.1, :max 0.2}, :material :additive, :alpha {:min 153, :max 204}, :fade-out-ticks 20, :velocity {:x 0.03, :y 0.05, :z 0.03}}}} {:nid :n/n--entry--default-1, :flow :finish, :result {:outcome :performed}}]}, :emitters []}