{:schema-version 1
 :documents [{:kind :ability
              :id :railgun
              :resource "ac/combat/abilities/railgun.edn"}
             {:kind :ability
             :id :arc-gen
             :resource "ac/combat/abilities/arc_gen.edn"}
             {:kind :ability
              :id :thunder-clap
             :resource "ac/combat/abilities/thunder_clap.edn"}
             {:kind :ability
              :id :vec-reflection
              :resource "ac/combat/abilities/vec_reflection.edn"}
             {:kind :ability
              :id :scatter-bomb
              :resource "ac/combat/abilities/scatter_bomb.edn"}
             {:kind :ability
              :id :mark-teleport
              :resource "ac/combat/abilities/mark_teleport.edn"}
             {:kind :ability
             :id :penetrate-teleport
              :resource "ac/combat/abilities/penetrate_teleport.edn"}
             {:kind :ability
             :id :flashing
              :resource "ac/combat/abilities/flashing.edn"}
             {:kind :ability
             :id :plasma-cannon
              :resource "ac/combat/abilities/plasma_cannon.edn"}
             {:kind :ability
             :id :storm-wing
              :resource "ac/combat/abilities/storm_wing.edn"}
             {:kind :ability
             :id :ray-barrage
              :resource "ac/combat/abilities/ray_barrage.edn"}
             {:kind :ability
              :id :current-charging
              :resource "ac/combat/abilities/current_charging.edn"}
             {:kind :ability
              :id :thunder-bolt
              :resource "ac/combat/abilities/thunder_bolt.edn"}
             {:kind :ability
              :id :mine-detect
              :resource "ac/combat/abilities/mine_detect.edn"}
             {:kind :ability
              :id :mag-movement
              :resource "ac/combat/abilities/mag_movement.edn"}
             {:kind :ability
              :id :mag-manip
              :resource "ac/combat/abilities/mag_manip.edn"}
             {:kind :ability
              :id :body-intensify
              :resource "ac/combat/abilities/body_intensify.edn"}
             {:kind :ability
              :id :jet-engine
              :resource "ac/combat/abilities/jet_engine.edn"}]}
