{:schema-version 1
 :documents [{:kind :ability
              :id :railgun
              :resource "ac/combat/abilities/railgun.edn"}
             {:kind :ability
             :id :arc-gen
             :resource "ac/combat/abilities/arc_gen.edn"}
             {:kind :ability
              :id :thunder-clap
             :resource "ac/combat/abilities/thunder_clap.edn"}]}
