{:schema-version 2, :kind :composite, :id :target/directional-destination, :revision 1, :inputs {:origin {:type :object}, :look {:type :object}, :eye-y {:type :double}, :direction {:type :keyword}, :distance {:type :double}, :policy {:type :object, :default {}}}, :body {:component :target/directional-destination-query, :origin {:ref [:input :origin]}, :look {:ref [:input :look]}, :eye-y {:ref [:input :eye-y]}, :direction {:ref [:input :direction]}, :distance {:ref [:input :distance]}, :policy {:ref [:input :policy]}, :result :destination}}
