{:schema-version 2, :kind :composite, :id :target/raycast-destination, :revision 1, :inputs {:origin {:type :object}, :direction {:type :object}, :distance {:type :object}, :policy {:type :object}, :include-entities? {:type :object, :default true}, :include-blocks? {:type :object, :default true}}, :body {:component :flow/sequence, :steps [{:component :target/raycast, :origin {:ref [:input :origin]}, :direction {:ref [:input :direction]}, :distance {:ref [:input :distance]}, :include-entities? {:ref [:input :include-entities?]}, :include-blocks? {:ref [:input :include-blocks?]}, :result :hit} {:component :target/resolve-destination, :hit {:ref [:local :hit]}, :origin {:ref [:input :origin]}, :direction {:ref [:input :direction]}, :distance {:ref [:input :distance]}, :policy {:ref [:input :policy]}, :result :destination}]}}
