{:schema :ac/skill-v3, :id :dim-folding-theorem, :skill {:category :migrated, :level 1}, :activation {:mode :passive}, :parameters {:damage-multipliers {:type :any, :default nil}, :level0-probability {:type :double, :default nil}, :exp-per-crit-level {:type :double, :default nil}}, :state {}, :entries {:start {:on :phase/start, :do [{:nid :n/n--entry--start-0, :flow :finish, :result {:outcome :passive}}]}, :pulse {:on :phase/pulse, :do [{:nid :n/n--entry--pulse-0, :flow :finish, :result {:outcome :passive}}]}, :release {:on :phase/release, :do [{:nid :n/n--entry--release-0, :flow :finish, :result {:outcome :passive}}]}, :abort {:on :phase/abort, :do [{:nid :n/n--entry--abort-0, :flow :finish, :result {:outcome :passive}}]}}}