{:schema :ac/skill-v3, :id :electromaster/mind-course, :skill {:category :electromaster, :level 1}, :activation {:mode :passive}, :parameters {}, :state {}, :entries {:start {:on :phase/start, :do [{:nid :n/n--entry--start-0, :flow :finish, :result {:outcome :passive}}]}, :pulse {:on :phase/pulse, :do [{:nid :n/n--entry--pulse-0, :flow :finish, :result {:outcome :passive}}]}, :release {:on :phase/release, :do [{:nid :n/n--entry--release-0, :flow :finish, :result {:outcome :passive}}]}, :abort {:on :phase/abort, :do [{:nid :n/n--entry--abort-0, :flow :finish, :result {:outcome :passive}}]}}, :metadata {:category-id :electromaster, :prerequisites [{:skill-id :electromaster/brain-course-advanced, :min-exp 0.0}]}, :presentation nil}