{:schema :ac/vfx-v4,
 :id :arc-ring-session,
 :activation :instant,
 :parameters
 {:sound-position {:type :vec3},
  :fade-at {:type :int},
  :sound-pitch {:type :float},
  :duration-ticks {:type :int},
  :fade-ring-from {:type :float},
  :sound-volume {:type :float},
  :arc-count-limit {:type :int},
  :arc-radius {:type :any},
  :start {:type :vec3},
  :fade-ring-to {:type :float},
  :local-walk-speed {:type :float, :default nil},
  :sound-id {:type :string},
  :arc-life-ticks {:type :int},
  :ring-to {:type :float},
  :fade-to-tick {:type :int},
  :arc-spacing {:type :any},
  :fade-color {:type :any},
  :fade-segments {:type :int},
  :ring-from {:type :float},
  :end {:type :vec3},
  :ring-color {:type :any},
  :ring-segments {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n002"}
   (let __v4_n002 (math/lerp ?ring-from ?ring-to ?progress))
   ^{:nid "n/n--entry--default-0"}
   (ring
    {:center ?end,
     :radius __v4_n002,
     :segments ?ring-segments,
     :color ?ring-color})
   ^{:nid "n/n--entry--default-1"}
   (surround-arc
    {:mode :item,
     :good? true,
     :seed 0,
     :count 5,
     :origin ?start,
     :age ?age})
   ^{:nid "n/n012"}
   (let __v4_n012 (math/gte ?age ?fade-at))
   (if
    __v4_n012
    [^{:nid "n/n017"}
     (let __v4_n017 (math/sub ?age ?fade-at))
     ^{:nid "n/n021"}
     (let __v4_n021 (math/sub ?fade-to-tick ?fade-at))
     ^{:nid "n/n020"}
     (let __v4_n020 (math/max 1.0 __v4_n021))
     ^{:nid "n/n016"}
     (let __v4_n016 (math/div __v4_n017 __v4_n020))
     ^{:nid "n/n015"}
     (let __v4_n015 (math/clamp __v4_n016 0.0 1.0))
     (let fade-p __v4_n015)
     ^{:nid "n/n024"}
     (let __v4_n024 (math/lerp 1.0 0.0 fade-p))
     (let fade-alpha __v4_n024)
     ^{:nid "n/n027"}
     (let
      __v4_n027
      (math/lerp ?fade-ring-from ?fade-ring-to ?progress))
     ^{:nid "n/n--entry--default-2-do-2"}
     (ring
      {:center ?end,
       :radius __v4_n027,
       :segments ?fade-segments,
       :color ?fade-color,
       :alpha fade-alpha})]
    [])
   ^{:nid "n/n--entry--default-3"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
