{:schema :ac/vfx-v4,
 :id :arc-strike-transient,
 :lifecycle {:mode :transient},
 :inputs
 {:hand-origin? {:type :bool},
  :sound-position {:type :vec3},
  :sound-pitch {:type :float},
  :sound-volume {:type :float},
  :start {:type :vec3},
  :sound-id {:type :string},
  :arc-life-ticks {:type :int},
  :aoe-points {:type :any},
  :aoe-origin {:type :vec3},
  :end {:type :vec3},
  :bounds-radius {:type :float},
  :pattern {:type :resource-id}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
