{:schema :ac/vfx-v4,
 :id :arc-strike-transient,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:hand-origin? {:type :bool},
  :sound-position {:type :vec3},
  :sound-pitch {:type :float},
  :duration-ticks {:type :int},
  :sound-volume {:type :float},
  :start {:type :vec3},
  :seed {:type :int},
  :sound-id {:type :string},
  :arc-life-ticks {:type :int},
  :aoe-points {:type :any},
  :aoe-origin {:type :vec3},
  :end {:type :vec3},
  :pattern {:type :resource-id}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (arc
    {:bolt-count 3,
     :start ?start,
     :end ?end,
     :pattern ?pattern,
     :arc-life-ticks ?arc-life-ticks,
     :seed ?seed,
     :hand-origin? ?hand-origin?,
     :duration-ticks ?duration-ticks})
   ^{:nid "n/n014"}
   (arc
    {:pattern :aoe,
     :start ?aoe-origin,
     :end ?aoe-origin,
     :end-points ?aoe-points,
     :arc-life-ticks ?arc-life-ticks,
     :seed ?seed,
     :duration-ticks ?duration-ticks})
   ^{:nid "n/n--entry--default-1"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :volume ?sound-volume,
     :pitch ?sound-pitch,
     :position ?sound-position})
   ^{:nid "n/n--entry--default-2"}
   (finish {:outcome :performed})]}}
