{:schema :ac/vfx-v4,
 :id :arc-channel-session,
 :lifecycle {:mode :session},
 :activation :instant,
 :parameters
 {:block-bounds {:type :any},
  :charge-ticks {:type :int},
  :mode {:type :resource-id},
  :good? {:type :bool},
  :target {:type :any},
  :caster {:type :vec3},
  :block-pos {:type :any},
  :visual-max-ticks {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n002"}
   (let __v4_n002 (value/eq ?mode :block))
   (if
    __v4_n002
    [^{:nid "n/n003"}
     (arc
      {:hand-origin? true,
       :age ?age,
       :duration-ticks 100000,
       :start ?caster,
       :seed ?seed,
       :source-player-id ?source-player-id,
       :arc-life-ticks 100000,
       :bolt-count 1,
       :end ?target,
       :pattern :charging})]
    [])
   ^{:nid "n/n009"}
   (surround-arc
    {:origin ?caster,
     :mode ?mode,
     :good? ?good?,
     :block-pos ?block-pos,
     :block-bounds ?block-bounds,
     :age ?age,
     :seed ?seed,
     :source-player-id ?source-player-id})
   ^{:nid "n/n018"}
   (finish {:outcome :performed})]}}
