{:schema :ac/vfx-v4,
 :id :beam-session,
 :activation :instant,
 :parameters
 {:start {:type :vec3},
  :end {:type :vec3},
  :life-ticks {:type :int},
  :grow-ticks {:type :int},
  :style {:type :any},
  :bounds-radius {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (ray-beam
    {:start ?start, :end ?end, :grow-ticks ?grow-ticks, :style ?style})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
