{:schema :ac/vfx-v4,
 :id :beam-fade-audio,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:sound-position {:type :vec3},
  :fade-at {:type :int},
  :sound-pitch {:type :float},
  :duration-ticks {:type :int},
  :sound-volume {:type :float},
  :fade-layers {:type :any},
  :beam-at {:type :int},
  :start {:type :vec3},
  :sound-id {:type :string},
  :fade-to-tick {:type :int},
  :fade-from-alpha {:type :float},
  :layers {:type :any},
  :grow-ticks {:type :int},
  :fade-to-alpha {:type :float},
  :end {:type :vec3},
  :fade-from-tick {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n001"}
   (let __v4_n001 (math/gte ?age ?beam-at))
   (if
    __v4_n001
    [^{:nid "n/n--entry--default-0-do-0"}
     (beam
      {:start ?start,
       :end ?end,
       :grow-ticks ?grow-ticks,
       :layers ?layers})]
    [])
   ^{:nid "n/n--entry--default-1"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :volume ?sound-volume,
     :pitch ?sound-pitch,
     :position ?sound-position})
   ^{:nid "n/n013"}
   (let __v4_n013 (math/gte ?age ?fade-at))
   (if
    __v4_n013
    [^{:nid "n/n018"}
     (let __v4_n018 (math/sub ?age ?fade-from-tick))
     ^{:nid "n/n022"}
     (let __v4_n022 (math/sub ?fade-to-tick ?fade-from-tick))
     ^{:nid "n/n021"}
     (let __v4_n021 (math/max 1.0 __v4_n022))
     ^{:nid "n/n017"}
     (let __v4_n017 (math/div __v4_n018 __v4_n021))
     ^{:nid "n/n016"}
     (let __v4_n016 (math/clamp __v4_n017 0.0 1.0))
     (let fade-p __v4_n016)
     ^{:nid "n/n025"}
     (let __v4_n025 (math/lerp ?fade-from-alpha ?fade-to-alpha fade-p))
     (let fade-alpha __v4_n025)
     ^{:nid "n/n--entry--default-2-do-2"}
     (beam
      {:start ?start,
       :end ?end,
       :layers ?fade-layers,
       :alpha fade-alpha})]
    [])
   ^{:nid "n/n--entry--default-3"}
   (finish {:outcome :performed})]}}
