{:schema :ac/vfx-v4,
 :id :beam-arc-fade,
 :activation :instant,
 :parameters
 {:arc-pattern {:type :any},
  :fade-at {:type :int},
  :duration-ticks {:type :int},
  :arc-at {:type :int},
  :arc-count-limit {:type :int},
  :beam-at {:type :int},
  :arc-radius {:type :any},
  :start {:type :vec3},
  :ring-radius {:type :any, :map-keys {:from :double, :to :double}},
  :arc-life-ticks {:type :int},
  :fade-to-tick {:type :int},
  :arc-spacing {:type :any},
  :fade-from-alpha {:type :float},
  :layers {:type :any},
  :grow-ticks {:type :int},
  :fade-to-alpha {:type :float},
  :end {:type :vec3},
  :fade-from-tick {:type :int},
  :ring-color {:type :any},
  :ring-segments {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n001"}
   (let __v4_n001 (math/gte ?age ?beam-at))
   (if
    __v4_n001
    [^{:nid "n/n--entry--default-0-do-0"}
     (beam
      {:start ?start,
       :end ?end,
       :grow-ticks ?grow-ticks,
       :layers ?layers})]
    [])
   ^{:nid "n/n050"}
   (let __v4_n050 (math/gte ?age ?arc-at))
   (if
    __v4_n050
    [^{:nid "n/n--entry--arc-0-do-0"}
     (arc
      {:hand-origin? true,
       :age ?age,
       :duration-ticks ?duration-ticks,
       :start ?start,
       :seed ?seed,
       :source-player-id ?source-player-id,
       :arc-life-ticks ?arc-life-ticks,
       :bolt-count 3,
       :life-ratio ?progress,
       :end ?end,
       :pattern ?arc-pattern})]
    [])
   ^{:nid "n/n009"}
   (let __v4_n009 (math/gte ?age ?fade-at))
   (if
    __v4_n009
    [^{:nid "n/n014"}
     (let __v4_n014 (math/sub ?age ?fade-from-tick))
     ^{:nid "n/n018"}
     (let __v4_n018 (math/sub ?fade-to-tick ?fade-from-tick))
     ^{:nid "n/n017"}
     (let __v4_n017 (math/max 1.0 __v4_n018))
     ^{:nid "n/n013"}
     (let __v4_n013 (math/div __v4_n014 __v4_n017))
     ^{:nid "n/n012"}
     (let __v4_n012 (math/clamp __v4_n013 0.0 1.0))
     (let fade-p __v4_n012)
     ^{:nid "n/n021"}
     (let __v4_n021 (math/lerp ?fade-from-alpha ?fade-to-alpha fade-p))
     (let fade-alpha __v4_n021)
     ^{:nid "n/n031"}
     (let __v4_n031 (:from ?ring-radius))
     ^{:nid "n/n032"}
     (let __v4_n032 (:to ?ring-radius))
     ^{:nid "n/n033"}
     (let __v4_n033 (math/lerp __v4_n031 __v4_n032 fade-p))
     ^{:nid "n/n--entry--default-1-do-2"}
     (ring
      {:center ?end,
       :radius __v4_n033,
       :segments ?ring-segments,
       :color ?ring-color,
       :alpha fade-alpha})]
    [])
   ^{:nid "n/n--entry--default-2"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
