{:schema :ac/vfx-v4,
 :id :billboard-session,
 :lifecycle {:mode :session},
 :inputs
 {:anchor {:type :any},
  :duration-ticks {:type :int},
  :texture-pattern {:type :string},
  :frame-count {:type :int},
  :frame-duration-ms {:type :int},
  :half-size {:type :float}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
