{:schema :ac/vfx-v4,
 :id :block-progress-session,
 :lifecycle {:mode :session},
 :activation :instant,
 :parameters
 {:target {:type :vec3},
  :progress {:type :float},
  :color {:type :any},
  :pulse-period {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (ring {:center ?target, :radius ?progress, :color ?color})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
