{:schema :ac/vfx-v4,
 :id :block-scan-transient,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:life-ticks {:type :int},
  :rescan-interval {:type :int},
  :max-results {:type :int},
  :max-range {:type :float},
  :filter {:type :any},
  :origin {:type :vec3},
  :tier-colors {:type :any},
  :base-color {:type :any},
  :texture {:type :string},
  :advanced? {:type :bool},
  :range {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (emitter
    {:rate-per-tick 1.0,
     :limit 64,
     :particle
     {:texture ?texture, :life-ticks ?life-ticks, :color ?base-color},
     :anchor ?origin})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
