{:schema :ac/vfx-v4,
 :id :block-scan-transient,
 :lifecycle {:mode :transient},
 :inputs
 {:life-ticks {:type :int},
  :rescan-interval {:type :int},
  :max-results {:type :int},
  :max-range {:type :float},
  :filter {:type :any},
  :origin {:type :vec3},
  :tier-colors {:type :any},
  :base-color {:type :any},
  :texture {:type :string},
  :advanced? {:type :bool},
  :range {:type :float}}, :graphs {:render {:nodes #:n{:start {:type :start,:nid :n/start},:n--entry--default-0 {:type :component,:component :emitter,:nid :n/n--entry--default-0,:inputs {:rate-per-tick 1.0,:limit 64,:particle {:texture {:nid :n/n/texture,:ref [:context :texture]},:life-ticks {:nid :n/n/life,:ref [:context :life-ticks]},:color {:nid :n/n/color,:ref [:context :base-color]}}}},:n001 {:type :context-ref,:key :origin,:nid :n/n001},:n--entry--default-1 {:type :end,:result {},:nid :n/n--entry--default-1,:inputs {:outcome :performed}}},:links [{:id :e/scan-1,:kind :data,:from [:n/n001 :value],:to [:n/n--entry--default-0 :anchor]} {:id :e/scan-2,:kind :exec,:from [:n/start :out],:to [:n/n--entry--default-0 :in]} {:id :e/scan-3,:kind :exec,:from [:n/n--entry--default-0 :out],:to [:n/n--entry--default-1 :in]}]}}}