{:schema :ac/vfx-v4,
 :id :blood-retrograde-charge,
 :activation :instant,
 :parameters {:speed {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"} (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
