{:schema :ac/vfx-v4,
 :id :camera-fov-session,
 :activation :instant,
 :parameters
 {:offset {:type :float},
  :local-walk-speed {:type :float, :default nil}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (camera-fov {:duration-ticks 1, :value ?offset})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
