{:schema :ac/vfx-v4,
 :id :directed-blastwave-wave,
 :activation :instant,
 :parameters
 {:position {:type :vec3},
  :direction {:type :vec3},
  :seed {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (arc {:start ?position, :end ?direction, :seed ?seed})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
