{:schema :ac/vfx-v4,
 :id :directed-blastwave-charge,
 :lifecycle {:mode :session},
 :inputs
 {:center {:type :vec3},
  :charge-ticks {:type :int},
  :punched? {:type :bool},
  :max-charge-ticks {:type :int}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
