{:schema :ac/vfx-v4,
 :id :directed-blastwave-charge,
 :activation :instant,
 :parameters
 {:center {:type :vec3},
  :charge-ticks {:type :int},
  :punched? {:type :bool},
  :max-charge-ticks {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (ring {:center ?center, :radius ?charge-ticks, :color ?punched?})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
