{:schema :ac/vfx-v4,
 :id :endpoint-burst,
 :activation :instant,
 :parameters
 {:sound-pitch {:type :float},
  :limit {:type :int},
  :duration-ticks {:type :int},
  :sound-volume {:type :float},
  :sound-id {:type :string},
  :particle {:type :any},
  :from {:type :vec3},
  :rate-per-tick {:type :int},
  :to {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (emitter
    {:anchor ?from,
     :rate-per-tick ?rate-per-tick,
     :limit ?limit,
     :particle ?particle})
   ^{:nid "n/n--entry--default-1"}
   (emitter
    {:anchor ?to,
     :rate-per-tick ?rate-per-tick,
     :limit ?limit,
     :particle ?particle})
   ^{:nid "n/n--entry--default-2"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :volume ?sound-volume,
     :pitch ?sound-pitch,
     :position ?to})
   ^{:nid "n/n--entry--default-3"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
