{:schema :ac/vfx-v4,
 :id :energy-orb-session,
 :lifecycle {:mode :session},
 :activation :instant,
 :parameters
 {:limit {:type :int},
  :segments {:type :int},
  :radius {:type :float},
  :particle {:type :any},
  :inner-color {:type :any},
  :core-color {:type :any},
  :outer-color {:type :any},
  :rate-per-tick {:type :int},
  :position {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n003"}
   (let __v4_n003 (math/mul ?radius 0.65))
   ^{:nid "n/n002"}
   (let __v4_n002 (math/lerp __v4_n003 ?radius ?progress))
   ^{:nid "n/n--entry--default-0"}
   (ring
    {:center ?position,
     :radius __v4_n002,
     :segments ?segments,
     :color ?outer-color})
   ^{:nid "n/n011"}
   (let __v4_n011 (math/mul ?radius 0.35))
   ^{:nid "n/n013"}
   (let __v4_n013 (math/mul ?radius 0.72))
   ^{:nid "n/n010"}
   (let __v4_n010 (math/lerp __v4_n011 __v4_n013 ?progress))
   ^{:nid "n/n--entry--default-1"}
   (ring
    {:center ?position,
     :radius __v4_n010,
     :segments ?segments,
     :color ?inner-color})
   ^{:nid "n/n020"}
   (let __v4_n020 (math/mul ?radius 0.35))
   ^{:nid "n/n019"}
   (let __v4_n019 (math/lerp 0.0 __v4_n020 ?progress))
   ^{:nid "n/n--entry--default-2"}
   (ring
    {:center ?position,
     :radius __v4_n019,
     :segments ?segments,
     :color ?core-color})
   ^{:nid "n/n--entry--default-3"}
   (emitter
    {:anchor ?position,
     :rate-per-tick ?rate-per-tick,
     :limit ?limit,
     :particle ?particle})
   ^{:nid "n/n032"}
   (let __v4_n032 (math/max 1.0 4096.0))
   ^{:nid "n/n030"}
   (let __v4_n030 (math/div ?age __v4_n032))
   ^{:nid "n/n029"}
   (let __v4_n029 (math/clamp __v4_n030 0.0 1.0))
   (let fade-p __v4_n029)
   ^{:nid "n/n033"}
   (let __v4_n033 (math/lerp 1.0 0.0 fade-p))
   (let fade-alpha __v4_n033)
   ^{:nid "n/n036"}
   (let __v4_n036 (math/lerp ?radius 0.0 ?progress))
   ^{:nid "n/n--entry--default-6"}
   (ring
    {:center ?position,
     :radius __v4_n036,
     :segments ?segments,
     :color ?outer-color,
     :alpha fade-alpha})
   ^{:nid "n/n--entry--default-7"}
   (finish {:outcome :performed})]}}
