{:schema :ac/vfx-v4,
 :id :first-person-motion-session,
 :lifecycle {:mode :session},
 :inputs
 {:stage {:type :resource-id},
  :phase-ticks {:type :int},
  :duration-ticks {:type :int},
  :curves {:type :any}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
