{:schema :ac/vfx-v4,
 :id :first-person-motion-session,
 :activation :instant,
 :parameters
 {:stage {:type :resource-id},
  :phase-ticks {:type :int},
  :duration-ticks {:type :int},
  :curves {:type :any}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (first-person-motion
    {:stage ?stage,
     :phase-ticks ?phase-ticks,
     :duration-ticks ?duration-ticks,
     :curves ?curves})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
