{:schema :ac/vfx-v4,
 :id :mag-movement-arc-session,
 :lifecycle {:mode :session},
 :activation :instant,
 :parameters {:caster {:type :vec3}, :target {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (arc
    {:hand-origin? true,
     :age ?age,
     :duration-ticks 100000,
     :start ?caster,
     :seed ?seed,
     :source-player-id ?source-player-id,
     :arc-life-ticks 100000,
     :bolt-count 1,
     :life-ratio 0.5,
     :end ?target,
     :pattern :thin-continuous})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
