{:schema :ac/vfx-v4,
 :id :particle-burst,
 :activation :instant,
 :parameters
 {:position {:type :vec3},
  :rate-per-tick {:type :int},
  :limit {:type :int},
  :particle {:type :any}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (emitter
    {:anchor ?position,
     :rate-per-tick ?rate-per-tick,
     :limit ?limit,
     :particle ?particle})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
