{:schema :ac/vfx-v4,
 :id :particle-trail-audio-transient,
 :activation :instant,
 :parameters
 {:sound-position {:type :vec3},
  :count-limit {:type :int},
  :sound-pitch {:type :float},
  :life-ticks {:type :int},
  :duration-ticks {:type :int},
  :sound-volume {:type :float},
  :fade-out {:type :int},
  :start {:type :vec3},
  :radius {:type :any},
  :size {:type :any},
  :sound-id {:type :string},
  :alpha {:type :any},
  :end {:type :vec3},
  :velocity {:type :any},
  :texture {:type :string},
  :spacing {:type :any},
  :fade-in {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--trail"}
   (particle-trail
    {:count-limit ?count-limit,
     :life-ticks ?life-ticks,
     :age ?age,
     :fade-out ?fade-out,
     :start ?start,
     :radius ?radius,
     :seed ?seed,
     :size ?size,
     :alpha ?alpha,
     :end ?end,
     :velocity ?velocity,
     :texture ?texture,
     :spacing ?spacing,
     :fade-in ?fade-in})
   ^{:nid "n/n--entry--default-0"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :position ?sound-position,
     :volume ?sound-volume,
     :pitch ?sound-pitch})]},
 :lifecycle {:mode :transient}}
