{:schema :ac/vfx-v4,
 :id :particle-burst-trail-transient,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:count-limit {:type :int},
  :life-ticks {:type :int},
  :fade-out {:type :int},
  :start {:type :vec3},
  :radius {:type :any},
  :size {:type :any},
  :alpha {:type :any},
  :end {:type :vec3},
  :velocity {:type :any},
  :texture {:type :string},
  :spacing {:type :any},
  :fade-in {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (emitter
    {:rate-per-tick 1.0,
     :limit ?count-limit,
     :particle
     {:texture ?texture,
      :life-ticks ?life-ticks,
      :size ?size,
      :alpha ?alpha},
     :anchor ?start})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
