{:schema :ac/vfx-v4,
 :id :plasma-body-session,
 :lifecycle {:mode :session},
 :activation :instant,
 :parameters {:center {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/fade-in-div"}
   (let __v4_fade-in-div (math/div ?age 66.6666667))
   ^{:nid "n/fade-in"}
   (let __v4_fade-in (math/clamp __v4_fade-in-div 0.0 1.0))
   ^{:nid "n/alpha"}
   (let __v4_alpha (math/mul __v4_fade-in ?fade-ratio))
   ^{:nid "n/alpha-squared"}
   (let __v4_alpha-squared (math/pow __v4_alpha 2.0))
   ^{:nid "n/plasma"}
   (plasma-body
    {:center ?center,
     :alpha __v4_alpha-squared,
     :age ?age,
     :seed ?seed})
   ^{:nid "n/end"}
   (finish {:outcome :performed})]}}
