{:schema :ac/vfx-v4,
 :id :plasma-tornado-session,
 :activation :instant,
 :parameters {:origin-base {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/fade-in-div"}
   (let __v4_fade-in-div (math/div ?age 20.0))
   ^{:nid "n/fade-in"}
   (let __v4_fade-in (math/clamp __v4_fade-in-div 0.0 1.0))
   ^{:nid "n/alpha-ramp"}
   (let __v4_alpha-ramp (math/mul __v4_fade-in ?fade-ratio))
   ^{:nid "n/alpha"}
   (let __v4_alpha (math/mul __v4_alpha-ramp 0.5))
   ^{:nid "n/vortex"}
   (vortex-column
    {:age ?age,
     :displacement-scale 0.3,
     :orientation {},
     :radius 8.0,
     :seed ?seed,
     :size 8.0,
     :alpha __v4_alpha,
     :base ?origin-base,
     :height 12.0,
     :spacing {:min 1.0, :max 2.0}})
   ^{:nid "n/end"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
