{:schema :ac/vfx-v4,
 :id :railgun-charge-session,
 :activation :instant,
 :parameters
 {:anchor {:type :any},
  :source-player-id {:type :any},
  :duration-ticks {:type :int},
  :texture-pattern {:type :string},
  :frame-count {:type :int},
  :frame-duration-ms {:type :int},
  :half-size {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (emitter
    {:rate-per-tick 1.0,
     :limit 1,
     :hand-origin? true,
     :particle
     {:texture ?texture-pattern,
      :life-ticks ?duration-ticks,
      :size ?half-size,
      :frame-count ?frame-count,
      :frame-duration-ms ?frame-duration-ms,
      :age ?age},
     :anchor ?anchor,
     :source-player-id ?source-player-id})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
