{:schema :ac/vfx-v4,
 :id :ray-fan-transient,
 :activation :instant,
 :parameters
 {:life-ticks {:type :int},
  :yaw-range-degrees {:type :any},
  :pitch-range-degrees {:type :any},
  :seed {:type :int},
  :style {:type :any},
  :count {:type :int},
  :length {:type :float},
  :grow-ticks {:type :int},
  :origin {:type :vec3},
  :bounds-radius {:type :float},
  :direction {:type :vec3}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (ray-fan
    {:life-ticks ?life-ticks,
     :age ?age,
     :yaw-range-degrees ?yaw-range-degrees,
     :pitch-range-degrees ?pitch-range-degrees,
     :seed ?seed,
     :style ?style,
     :count ?count,
     :length ?length,
     :grow-ticks ?grow-ticks,
     :origin ?origin,
     :direction ?direction})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
