{:schema :ac/vfx-v4,
 :id :screen-flash-session,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:alpha {:type :float},
  :duration-ticks {:type :int},
  :color {:type :any},
  :local-walk-speed {:type :float, :default nil}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"} (finish {:outcome :performed})]}}
