{:schema :ac/vfx-v4,
 :id :target-mark-session,
 :activation :instant,
 :parameters
 {:position {:type :vec3},
  :ttl-ticks {:type :int},
  :count {:type :int},
  :radius {:type :float},
  :color {:type :any},
  :seed {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (ring
    {:center ?position,
     :radius ?radius,
     :segments ?count,
     :color ?color})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :transient}}
