{:schema :ac/vfx-v4,
 :id :target-mark-session,
 :lifecycle {:mode :transient},
 :inputs
 {:position {:type :vec3},
  :ttl-ticks {:type :int},
  :count {:type :int},
  :radius {:type :float},
  :color {:type :any},
  :seed {:type :int}}, :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0 {:type :component, :component :ring, :nid :n/n--entry--default-0},
       :n001 {:type :context-ref, :key :position, :nid :n/n001},
       :n002 {:type :context-ref, :key :radius, :nid :n/n002},
       :n003 {:type :context-ref, :key :count, :nid :n/n003},
       :n004 {:type :context-ref, :key :color, :nid :n/n004},
       :n--entry--default-1 {:type :end, :result {}, :nid :n/n--entry--default-1, :inputs {:outcome :performed}}},
   :links
   [{:id :e/target-mark-1, :kind :data, :from [:n/n001 :value], :to [:n/n--entry--default-0 :center]}
    {:id :e/target-mark-2, :kind :data, :from [:n/n002 :value], :to [:n/n--entry--default-0 :radius]}
    {:id :e/target-mark-3, :kind :data, :from [:n/n003 :value], :to [:n/n--entry--default-0 :segments]}
    {:id :e/target-mark-4, :kind :data, :from [:n/n004 :value], :to [:n/n--entry--default-0 :color]}
    {:id :e/target-mark-5, :kind :exec, :from [:n/start :out], :to [:n/n--entry--default-0 :in]}
    {:id :e/target-mark-6, :kind :exec, :from [:n/n--entry--default-0 :out], :to [:n/n--entry--default-1 :in]}]}}}