{:schema :ac/vfx-v4,
 :id :target-box-session,
 :lifecycle {:mode :session},
 :inputs
 {:position {:type :vec3},
  :width {:type :float},
  :height {:type :float},
  :color {:type :any}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
