{:schema :ac/vfx-v4,
 :id :teleport-trail-transient,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:start {:type :vec3},
  :end {:type :vec3},
  :sound-id {:type :string},
  :sound-volume {:type :float},
  :sound-pitch {:type :float},
  :arc-life-ticks {:type :int},
  :duration-ticks {:type :int}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--trail-arc"}
   (arc
    {:pattern :weak,
     :bolt-count 1,
     :start ?start,
     :end ?end,
     :arc-life-ticks ?arc-life-ticks,
     :duration-ticks ?duration-ticks})
   ^{:nid "n/n--entry--default-0"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :volume ?sound-volume,
     :pitch ?sound-pitch,
     :position ?end})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
