{:schema :ac/vfx-v4,
 :id :terrain-shockwave-transient,
 :lifecycle {:mode :transient},
 :activation :instant,
 :parameters
 {:origin {:type :vec3},
  :sound-id {:type :string},
  :sound-volume {:type :float},
  :sound-pitch {:type :float}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/n--entry--default-0"}
   (audio-one-shot
    {:sound-id ?sound-id,
     :volume ?sound-volume,
     :pitch ?sound-pitch,
     :position ?origin})
   ^{:nid "n/n--entry--default-1"}
   (finish {:outcome :performed})]}}
