{:schema :ac/vfx-v4,
 :id :vortex-column-session,
 :lifecycle {:mode :session},
 :inputs
 {:count-limit {:type :int},
  :life-ticks {:type :int},
  :orientation {:type :any},
  :radius {:type :any},
  :seed {:type :int},
  :alpha {:type :float},
  :base {:type :vec3},
  :axis {:type :vec3},
  :height {:type :float},
  :spacing {:type :any}},
 :graphs
 {:render
  {:nodes
   #:n{:start {:type :start, :nid :n/start},
       :n--entry--default-0
       {:type :end,
        :result {},
        :nid :n/n--entry--default-0,
        :inputs {:outcome :performed}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start :out],
     :to [:n/n--entry--default-0 :in]}]}}}
