{:schema :ac/vfx-v4,
 :id :vortex-column-session,
 :activation :instant,
 :parameters
 {:base {:type :vec3},
  :orientation {:type :any, :default nil},
  :radius {:type :any},
  :seed {:type :int},
  :alpha {:type :double},
  :height {:type :double},
  :spacing {:type :any}},
 :entry-triggers {:render :vfx/render},
 :phases
 {:render
  [^{:nid "n/vortex"}
   (vortex-column
    {:age ?age,
     :orientation ?orientation,
     :radius ?radius,
     :seed ?seed,
     :source-player-id ?source-player-id,
     :alpha ?alpha,
     :base ?base,
     :fade-ratio ?fade-ratio,
     :height ?height,
     :spacing ?spacing})
   ^{:nid "n/end"}
   (finish {:outcome :performed})]},
 :lifecycle {:mode :session}}
