# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs/*
logs
Logs/*
*.log
*.Log
*.Logs
*.logs
/build-*.txt
/compile-*.txt
/test-out.txt

# Files from Forge MDK
forge*changelog.txt

importcode/*
run-data
run-gametest
minecraftmod/forge-1.20.1/src/generated
fabric-1.20.1/src/generated
gradle
.gradle
.clj-kondo/.cache
.lsp
_upstream
