{:schema-version 1
 :documents [{:kind :composite
              :id :vfx/beam-arc-fade
              :resource "ac/vfx/components/beam_arc_fade.edn"}
             {:kind :composite
              :id :vfx/humanoid-marker
              :resource "ac/vfx/components/humanoid_marker.edn"}]}
