{:schema-version 1
 :documents [{:kind :vfx-effect
              :id :railgun-beam
              :resource "ac/vfx/effects/railgun_beam.edn"}
             {:kind :vfx-effect
              :id :railgun-charge
              :resource "ac/vfx/effects/railgun_charge.edn"}
             {:kind :vfx-effect
              :id :arc-gen
              :resource "ac/vfx/effects/arc_gen.edn"}
             {:kind :vfx-effect
              :id :thunder-clap
              :resource "ac/vfx/effects/thunder_clap.edn"}
             {:kind :vfx-effect
              :id :vec-reflection-field
              :resource "ac/vfx/effects/vec_reflection_field.edn"}
             {:kind :vfx-effect
              :id :vec-reflection-wave
              :resource "ac/vfx/effects/vec_reflection_wave.edn"}
             {:kind :vfx-effect
              :id :scatter-bomb-charge
              :resource "ac/vfx/effects/scatter_bomb_charge.edn"}
             {:kind :vfx-effect
              :id :scatter-bomb-beam
              :resource "ac/vfx/effects/scatter_bomb_beam.edn"}
             {:kind :vfx-effect
              :id :mark-teleport-marker
              :resource "ac/vfx/effects/mark_teleport_marker.edn"}
             {:kind :vfx-effect
              :id :mark-teleport-perform
              :resource "ac/vfx/effects/mark_teleport_perform.edn"}]}
