{:schema-version 1
 :kind :vfx-effect
 :id :camera-fov-session
 :revision 1
 :lifecycle :session
 :inputs {:spawn {:offset :double}
          :update {:offset :double}
          :destroy {}}
 :state-slots {:offset :double}
 :graph {:component :vfx/timeline
         :duration-ticks 4096
         :children [{:at 0
                     :node {:component :vfx/camera
                            :operation :fov-offset
                            :value {:ref [:input :offset]}
                            :duration-ticks 1}}]}}
