{:schema-version 2
 :kind :vfx/system
 :asset/type :vfx/system
 :asset/version 1
 :id :particle-trail-audio-transient
 :revision 1
 :lifecycle :transient
 :inputs
 {:spawn {:start :vec3 :end :vec3
          :spacing :any :radius :any :count-limit :int
          :life-ticks :int :texture :string :velocity :any
          :size :any :alpha :any :fade-in :int :fade-out :int
          :sound-id :string :sound-position :vec3
          :sound-volume :float :sound-pitch :float}}
 :state-slots {:age :float :seed :int}
 :control-graph {:component :vfx/timeline
  :duration-ticks 20
  :children [{:at 0
              :node {:component :vfx/particle-trail
                     :start {:ref [:input :start]}
                     :end {:ref [:input :end]}
                     :spacing {:ref [:input :spacing]}
                     :radius {:ref [:input :radius]}
                     :count-limit {:ref [:input :count-limit]}
                     :life-ticks {:ref [:input :life-ticks]}
                     :texture {:ref [:input :texture]}
                     :seed {:ref [:state :seed]}
                     :velocity {:ref [:input :velocity]}
                     :size {:ref [:input :size]}
                     :alpha {:ref [:input :alpha]}
                     :fade-in {:ref [:input :fade-in]}
                     :fade-out {:ref [:input :fade-out]}}}
             {:at 0
              :node {:component :vfx/audio-one-shot
                     :sound-id {:ref [:input :sound-id]}
                     :position {:ref [:input :sound-position]}
                     :volume {:ref [:input :sound-volume]}
                     :pitch {:ref [:input :sound-pitch]}}}]}
 :bounds {:component :vfx/beam-bounds
          :start {:ref [:input :start]}
          :end {:ref [:input :end]}
          :radius 1.2}}


