{:schema-version 1
 :kind :vfx/system
 :asset/type :vfx/system
 :asset/version 1
 :id :ray-fan-transient
 :revision 1
 :lifecycle :transient
 :inputs {:spawn {:origin :vec3 :direction :vec3 :length :float
                  :count :int :yaw-range-degrees :any
                  :pitch-range-degrees :any :life-ticks :int
                  :grow-ticks :int :style :any :seed :int
                  :bounds-radius :float}}
 :state-slots {:age :float :seed :int}
 :control-graph {:component :vfx/ray-fan
         :origin {:ref [:input :origin]}
         :direction {:ref [:input :direction]}
         :length {:ref [:input :length]}
         :count {:ref [:input :count]}
         :yaw-range-degrees {:ref [:input :yaw-range-degrees]}
         :pitch-range-degrees {:ref [:input :pitch-range-degrees]}
         :life-ticks {:ref [:input :life-ticks]}
         :grow-ticks {:ref [:input :grow-ticks]}
         :style {:ref [:input :style]}
         :seed {:ref [:input :seed]}}
 :bounds {:component :vfx/beam-bounds
          :start {:ref [:input :origin]}
          :end {:ref [:input :origin]}
          :radius {:ref [:input :bounds-radius]}}}


