{:schema-version 1
 :kind :vfx/system
 :asset/type :vfx/system
 :asset/version 1
 :id :ring-particle-field
 :revision 1
 :lifecycle :session
 :inputs {:spawn {:position :vec3 :ring-from :float :ring-to :float
                  :segments :int :ring-color :any :rate-per-tick :int
                  :limit :int :particle :any}
          :update {:position :vec3}}
 :state-slots {:age :float :seed :int}
 :control-graph {:component :vfx/timeline
         :duration-ticks 4096
         :children [{:at 0
                     :node {:component :vfx/ring
                            :center {:ref [:input :position]}
                            :radius {:from {:ref [:input :ring-from]}
                                     :to {:ref [:input :ring-to]}}
                            :segments {:ref [:input :segments]}
                            :color {:ref [:input :ring-color]}}}
                    {:at 0
                     :node {:component :vfx/emitter
                            :anchor {:ref [:input :position]}
                            :rate-per-tick {:ref [:input :rate-per-tick]}
                            :limit {:ref [:input :limit]}
                            :particle {:ref [:input :particle]}}}]}}

