{:view/id :academy.app/wireless-node
 :host {:kind :screen :design-width 220 :design-height 180 :scale-policy :fit}
 :state-schema {:network-state :string :network-owner :string :network-range :string :network-bandwidth :string :network-load :number :node-name :string :node-editable? :boolean :node-readonly? :boolean :network-password :string :info-area :map :button-left :map :button-right :map}
 :root {:type :column :key :node/root :layout {:x 8 :y 8 :width 204 :height 164}
        :children [{:type :text :key :node/title :bind {:text [:state :network-state]}}
                   {:type :text :key :node/owner :bind {:text [:state :network-owner]}}
                   {:type :text :key :node/range :bind {:text [:state :network-range]}}
                   {:type :text :key :node/bandwidth :bind {:text [:state :network-bandwidth]}}
                   {:type :progress :key :node/load :layout {:height 6} :bind {:value [:state :network-load]} :semantics {:role :progress}}
                   {:type :text-input :key :node/name :layout {:height 20} :bind {:text [:state :node-name] :visible [:state :node-editable?]} :on {:change :container/text-change :submit :container/text-submit} :semantics {:role :textbox :field :node-name}}
                   {:type :text :key :node/name-readonly :layout {:height 20} :bind {:text [:state :node-name] :visible [:state :node-readonly?]}}
                   {:type :text-input :key :node/password :layout {:height 20} :bind {:text [:state :network-password] :visible [:state :node-editable?]} :on {:change :container/text-change :submit :container/text-submit} :semantics {:role :textbox :field :password}}
                   {:type :row :key :node/actions
                    :children [{:type :button :key :node/action-left :layout {:width 72 :height 20} :bind {:text [:state :button-left]} :on {:activate :container/button} :semantics {:role :button}}
                               {:type :button :key :node/action-right :layout {:width 72 :height 20} :bind {:text [:state :button-right]} :on {:activate :container/button} :semantics {:role :button}}]} 
                   {:type :column :key :node/info-area :layout {:height 72}
                    :children [{:type :text :key :node/info-title :bind {:text [:state :info-area :title]}}
                               {:type :repeater :key :node/info-histograms :layout {:height 24}
                                :bind {:items [:state :info-area :histograms]} :semantics {:role :list}
                                :children [{:type :row :layout {:height 12}
                                            :children [{:type :text :layout {:width 64 :height 12} :bind {:text [:item :label]}}
                                                       {:type :progress :layout {:width 64 :height 6} :bind {:value [:item :ratio]} :semantics {:role :progress}}
                                                       {:type :text :layout {:width 40 :height 12} :bind {:text [:item :value]}}]}]}
                               {:type :scroll :key :node/info-fields :layout {:height 42}
                                :bind {:items [:state :info-area :fields]} :semantics {:role :list}
                                :children [{:type :row :layout {:height 18}
                                            :children [{:type :text :layout {:width 72 :height 16} :bind {:text [:item :label]}}
                                                       {:type :text :layout {:width 88 :height 16} :bind {:text [:item :value]}}]}]}
                               {:type :progress :key :node/info-load :layout {:height 6}
                                :bind {:value [:state :info-area :load-ratio]} :semantics {:role :progress}}]}]}}