{:schema-version 1
 :skills {:railgun :migrated
          :arc-gen :migrated
          :thunder-clap :migrated
          :scatter-bomb :migrated
          :thunder-bolt :migrated
          :mine-detect :migrated
          :mag-movement :migrated
          :vec-reflection :migrated
          :groundshock :pending
          :mark-teleport :migrated
          :penetrate-teleport :migrated
          :flashing :migrated
          :plasma-cannon :migrated
          :storm-wing :migrated
          :ray-barrage :migrated
          :current-charging :migrated
          :mag-manip :migrated
          :body-intensify :migrated
          :jet-engine :migrated
          :light-shield :migrated}}
