{:schema-version 1
 :skills {:railgun :migrated
          :arc-gen :migrated
          :thunder-clap :migrated
          :scatter-bomb :migrated
          :thunder-bolt :pending
          :vec-reflection :migrated
          :groundshock :pending
          :mark-teleport :migrated
          :penetrate-teleport :migrated}}
