[{:id :electromaster
  :priority 20
  :skill-namespaces
   []
  :fx-namespaces
  []}
 {:id :meltdowner
  :priority 30
  :skill-namespaces
  []
  :fx-namespaces
  []}
 {:id :teleporter
  :priority 40
  :skill-namespaces
  [cn.li.ac.content.ability.teleporter.location-teleport
   cn.li.ac.content.ability.teleporter.location-teleport-reactive]
  :fx-namespaces
   cn.li.ac.content.ability.teleporter.location-teleport-fx
  ]}
 {:id :vecmanip
  :priority 50
  :skill-namespaces
  [cn.li.ac.content.ability.vecmanip.arbitration]
  :fx-namespaces
  []}]
