{:schema-version 1
 :documents [{:id :railgun-beam
              :resource "ac/ability/railgun_beam_vfx.edn"}
             {:id :railgun-charge
              :resource "ac/ability/railgun_charge_vfx.edn"}]}
