{:schema :ac/skill-v4,
 :skill {:category :migrated, :level 1},
 :entry-triggers
 {:start :phase/start,
  :pulse :phase/pulse,
  :release :phase/release,
  :abort :phase/abort},
 :description-key "ability.skill.meltdowner.rad_intensify.desc",
 :name-key "ability.skill.meltdowner.rad_intensify",
 :cooldown nil,
 :state {},
 :costs nil,
 :mark-policies
 [{:mark-type :radiation,
   :requires-ability :rad-intensify,
   :duration-ticks {:ref [:input :tunables :mark-duration-ticks]},
   :vfx
   {:effect-id :target-mark-session,
    :operation :spawn,
    :audience {:type :nearby, :radius 32.0},
    :offset {:vec3 [0.0 0.8 0.0]},
    :payload
    {:position {:ref [:mark :target-position]},
     :ttl-ticks {:ref [:input :tunables :mark-duration-ticks]},
     :seed {:ref [:input :context :activation-seed]},
     :count 3,
     :radius 0.35,
     :color [236 170 93 180]}}}],
 :activation :passive,
 :requires [:world/id],
 :phases
 {:start [^{:nid "n/n--entry--start-0"} (finish {:outcome :passive})],
  :pulse [^{:nid "n/n--entry--pulse-0"} (finish {:outcome :passive})],
  :release
  [^{:nid "n/n--entry--release-0"} (finish {:outcome :passive})],
  :abort [^{:nid "n/n--entry--abort-0"} (finish {:outcome :passive})]},
 :id :rad-intensify,
 :tunables
 {:damage-rate {:curve :pair},
  :mark-duration-ticks {:curve :const, :type :int},
  :mastery-denominator {:curve :const}},
 :invariants nil,
 :parameters
 {:damage-rate {:type :double},
  :mark-duration-ticks {:type :long},
  :mastery-denominator {:type :double}},
 :damage-policies
 [{:on :combat/damage,
   :priority 100,
   :mark-type :radiation,
   :when
   {:expr :bool/and,
    :args
    [{:ref [:input :context :mark?]}
     {:expr :math/gt, :args [{:ref [:input :request :base]} 0.0]}]},
   :program
   {:component :damage/multiply,
    :multiplier {:ref [:input :context :mark :rate]}}}],
 :progression nil}
