{:schema :ac/skill-v4,
 :id :space-fluct,
 :skill {:category :migrated, :level 1},
 :activation :passive,
 :parameters
 {:damage-multipliers {:type :any},
  :level0-probability {:type :double},
  :level1-probability {:type :double},
  :level2-probability {:type :double},
  :exp-critical {:type :double}},
 :state {},
 :tunables
 {:damage-multipliers
  {:curve :pair, :source-skill-id :dim-folding-theorem},
  :level0-probability {:curve :mastery-lerp},
  :level1-probability {:curve :mastery-lerp},
  :level2-probability {:curve :mastery-lerp},
  :exp-critical {:curve :const}},
 :costs nil,
 :cooldown nil,
 :progression nil,
 :invariants nil,
 :requires [:world/id :rng/seed],
 :entry-triggers
 {:start :phase/start,
  :pulse :phase/pulse,
  :release :phase/release,
  :abort :phase/abort},
 :mark-policies nil,
 :damage-policies
 [{:on :combat/damage,
   :priority 200,
   :when
   (bool/and
    ?context/source-learned?
    (bool/and
     (bool/not ?context/reflected?)
     (math/gt ?request/base 0.0))),
   :program
   {:damage-types [:magic :skill],
    :progression-mode :fixed,
    :feedback
    {:message-key "ability.teleporter.critical_hit",
     :args [?context/critical-multiplier],
     :translate? true},
    :events
    [{:type :achievement/trigger,
      :payload {:id "teleporter.critical_attack"}}],
    :progression-per-level $exp-critical,
    :component :damage/critical,
    :levels
    [{:level 0,
      :probability $level0-probability,
      :multiplier $damage-multipliers}
     {:level 1,
      :probability $level1-probability,
      :multiplier $damage-multipliers}
     {:level 2,
      :probability $level2-probability,
      :multiplier $damage-multipliers}],
    :vfx
    {:effect-id :particle-burst-trail-transient,
     :instance-key [:combat :critical],
     :audience {:type :nearby, :radius 64.0},
     :payload
     {:count-limit 8,
      :life-ticks 15,
      :fade-out 20,
      :start ?context/target-position,
      :radius {:min 0.3, :max 0.42},
      :size {:min 1.0, :max 1.7},
      :alpha {:min 152, :max 255},
      :end ?context/target-position,
      :velocity {:min -0.03, :max 0.03},
      :texture "academy:textures/effects/formula/0.png",
      :spacing {:min 0.0, :max 0.0},
      :fade-in 2}},
    :events-by-level
    {:level-2
     [{:type :achievement/trigger,
       :payload {:id "teleporter.mastery"}}]}}}],
 :phases
 {:start [^{:nid "n/n--entry--start-0"} (finish {:outcome :passive})],
  :pulse [^{:nid "n/n--entry--pulse-0"} (finish {:outcome :passive})],
  :release
  [^{:nid "n/n--entry--release-0"} (finish {:outcome :passive})],
  :abort [^{:nid "n/n--entry--abort-0"} (finish {:outcome :passive})]}}
