{:schema :ac/skill-v4,
 :id :vecmanip/mind-course,
 :skill {:category :vecmanip, :level 1},
 :activation {:mode :passive},
 :parameters {},
 :state {},
 :description-key "ability.skill.generic.mind_course.desc",
 :passive-effects
 [{:target :cp-recovery-speed, :operation :multiply, :value 1.2}],
 :name-key "ability.skill.generic.mind_course",
 :cooldown nil,
 :costs nil,
 :mark-policies nil,
 :invariants nil,
 :translations
 {:en_us
  {:ability.skill.generic.mind_course "Mind Course",
   :ability.skill.generic.mind_course.desc
   "Train your mental composure so CP recovers 20% faster."},
  :zh_cn
  {:ability.skill.generic.mind_course "心智课程",
   :ability.skill.generic.mind_course.desc
   "学习更高效地放松精神，使 CP 恢复速度提高 20%。"},
  :zh_tw
  {:ability.skill.generic.mind_course "思維修養課程",
   :ability.skill.generic.mind_course.desc
   "學習如何更好的放鬆自己的思想。計算力恢復速率提高20%。"},
  :ja_jp
  {:ability.skill.generic.mind_course "マインド・コース",
   :ability.skill.generic.mind_course.desc
   "脳をよりリラックスさせる方法を学び、CPの回復速度を向上させます。"},
  :ko_kr
  {:ability.skill.generic.mind_course "마인드 코스",
   :ability.skill.generic.mind_course.desc
   "여러분의 뇌를 더 잘 이완시키는 방법을 배우세요. CP 복구 속도를 20% 향상시킵니다."},
  :ru_ru
  {:ability.skill.generic.mind_course "Курс разума",
   :ability.skill.generic.mind_course.desc
   "Узнайте, как лучше расслабить свой мозг. Ускоряет восстановление CP на 20%."}},
 :progression nil,
 :metadata
 {:category-id :vecmanip,
  :prerequisites
  [{:skill-id :vecmanip/brain-course-advanced, :min-exp 0.0}]},
 :presentation nil,
 :graphs
 {:start
  {:on :phase/start,
   :nodes
   #:n{:start-start {:type :start, :nid :n/start-start},
       :n--entry--start-0
       {:type :end,
        :result {},
        :nid :n/n--entry--start-0,
        :inputs {:outcome :passive}}},
   :links
   [{:id :e/link001,
     :kind :exec,
     :from [:n/start-start :out],
     :to [:n/n--entry--start-0 :in]}]},
  :pulse
  {:on :phase/pulse,
   :nodes
   #:n{:start-pulse {:type :start, :nid :n/start-pulse},
       :n--entry--pulse-0
       {:type :end,
        :result {},
        :nid :n/n--entry--pulse-0,
        :inputs {:outcome :passive}}},
   :links
   [{:id :e/link002,
     :kind :exec,
     :from [:n/start-pulse :out],
     :to [:n/n--entry--pulse-0 :in]}]},
  :release
  {:on :phase/release,
   :nodes
   #:n{:start-release {:type :start, :nid :n/start-release},
       :n--entry--release-0
       {:type :end,
        :result {},
        :nid :n/n--entry--release-0,
        :inputs {:outcome :passive}}},
   :links
   [{:id :e/link003,
     :kind :exec,
     :from [:n/start-release :out],
     :to [:n/n--entry--release-0 :in]}]},
  :abort
  {:on :phase/abort,
   :nodes
   #:n{:start-abort {:type :start, :nid :n/start-abort},
       :n--entry--abort-0
       {:type :end,
        :result {},
        :nid :n/n--entry--abort-0,
        :inputs {:outcome :passive}}},
   :links
   [{:id :e/link004,
     :kind :exec,
     :from [:n/start-abort :out],
     :to [:n/n--entry--abort-0 :in]}]}}}
